{
    "sidebar_bg_color" : "1F497D",
    "title_block_color" : "1F497D",
    "content_block_color" : "1F497D",
    "contacts" : {
        "email" : "Example@mail.com",
        "adresse" : "Ville",
        "linkedin" : "https://www.linkedin.com",
        "leetcode" : "https://leetcode.com",
        "github (pro)" : "https://github.com",
        "github (perso)" : "https://github.com"
    },
    "skills" : [
        "Compétence 1",
        "Compétence 2",
        "Compétence 3"
    ],
    "about" : "Longue description...",
    "experiences" : [
        {
            "title" : "Taff 1",
            "company" : "Ville",
            "date" : "Date début – Date Fin",
            "learnings" : [
                "Description 1 du Taff 1",
                "Description 2 du Taff 1",
                "Description 3 du Taff 1"
            ]
        }
    ],
    "trainings" : [
        {
            "title" : "Formation 1",
            "company" : "Ecole 1",
            "date" : "Date Fin",
            "learnings" : [
                "Compétence 1",
                "Compétence 2",
                "Compétence 3",
            ]
        }
    ],
    "hobbies" : [
        {
            "title" : "Projet 1",
            "description" : "Description 1",
            "link" : "https://github.com",
            "technologies" : [
                "Technologies 1",
                "Technologies 2",
                "Technologies 3"
            ]
        }
    ]
}